<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Vendors/css")
	@Styles.Render("~/Shared/css")
	@RenderSection("styles", required: false)
</head>
<body>
	@{ Html.RenderPartial("~/Views/Shared/NavBar/_NavPaginaPrincipal.cshtml");}
	<div class="container body-content">
		@RenderBody()

	</div>

	@{ Html.RenderPartial("~/Views/Shared/Footer/_FooterPrincipal.cshtml");}

	@*
		ALL PARTIAL VIEWS
	*@
	@{ Html.RenderPartial("~/Views/Shared/Modals/_ModalSuccess.cshtml"); }
	@{ Html.RenderPartial("~/Views/Shared/Modals/_ModalOptional.cshtml"); }
	@{ Html.RenderPartial("~/Views/Shared/Modals/_ModalDanger.cshtml"); }
	@{ Html.RenderPartial("~/Views/Shared/Modals/_ModalWarning.cshtml"); }

	@Scripts.Render("~/Vendors/js")
	@RenderSection("scripts", required: false)
	<script src="~/Resources/Content/Script/Helpers/Commons.script.js"></script>
	<script src="~/Resources/Content/Script/Helpers/Generic.script.js"></script>
	<script src="~/Resources/Content/Script/Helpers/Modal.script.js"></script>
</body>
</html>
